<form [formGroup]="loginForm" (ngSubmit)="formSubmit(loginForm)">

  <mat-form-field appearance="outline">
    <input matInput placeholder="Email" formControlName="email">
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="(formSubmitted || email.dirty || email.touched) && email.invalid && email.errors.email">
    Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="(formSubmitted || email.dirty || email.touched) && email.invalid && email.errors.required">
    Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput
      placeholder="Password"
      [type]="isPassFieldText ?  'text': 'password'"
      formControlName="password">
    <mat-icon matSuffix (click)="isPassFieldText=!isPassFieldText">{{isPassFieldText ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="(formSubmitted || password.dirty || password.touched) && password.invalid && password.errors.required">
    Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" style="float:right">Login</button>
</form>
